.search-container {
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.room-filter {
    color: #000000;
}

.cancel-button{
    margin:0;
    display:inline;
    float:left;
    color: #6200ee;
    font: 15px Arial, sans-serif;
    font-weight: bold;
}

.cancel-button:hover{
    color: #ec613e;
    cursor:pointer;
}

.create-button{
    margin:0;
    display:inline;
    float:right;
    color: #3700b3;
    font: 15px Arial, sans-serif;
    font-weight: bold;
}

.create-button:hover{
    color: #3ef108;
    cursor:pointer;
}

.helper{
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.helper:hover{
    cursor: pointer;
}

::ng-deep .mat-form-field-label{
    color: #000000 !important;
}
::ng-deep .mat-focused .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #000000 !important;;
}