<h1 style="text-align: left; font: sans-serif; color: rgb(0, 0, 0);">Entrez votre nouveau mot de passe:</h1>

<div class="search-container">
    <mat-form-field class="example-full-width">
        <input class="room-filter" [(ngModel)]="this.passwordInput" minlength="8" maxlength="16" [ngModelOptions]="{standalone: true}" required matInput [type]="hide ? 'password' : 'text'" placeholder="Entrez votre mot de passe" (keypress)="handlePasswordValidity($event); checkPasswordValidity();"/>
        <span matPrefix>
            <mat-icon class="room-filter" matPreffix>lock</mat-icon>
        </span>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="room-filter">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="helper">
    <em class="fa fa-question-circle" (click)="openPasswordhelperDialog()"></em>
</div>

<div class="search-container">
    <mat-form-field class="example-full-width">
        <input class="room-filter" [(ngModel)]="this.passwordConfirmInput" minlength="8" maxlength="16" [ngModelOptions]="{standalone: true}" required matInput [type]="hide2nd ? 'password' : 'text'" placeholder="Entrez de nouveau votre mot de passe" (keypress)="handlePasswordValidity($event); checkPasswordValidity();"/>
        <span matPrefix>
            <mat-icon class="room-filter" matPreffix>lock</mat-icon>
        </span>
        <button mat-icon-button matSuffix (click)="hide2nd = !hide2nd" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="room-filter">{{hide2nd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>

<p class="cancel-button" (click) ="cancelCreation()">ANNULER</p>
<p class="create-button" *ngIf="this.validPassword" (click) ="attemptPasswordChange()">APPLIQUER</p>

