.flex-container {
    display: flex;
    text-align: center;

    div {
        width: 100px;
        height: 96px;
        margin-left: 3%;
        margin-right: 3%;
        border-style: solid;
        border-color: black;
    }

    div:hover {
        cursor: pointer;
        box-shadow: 0 0 30px #ffee10;
        transform: scale(1.1, 1.1);
    }
}
  